// Variables
$bg-primary: #15548D
$bg-primary-light: #29679F
$bg-secondary: #FAC568
$bg-secondary-light: rgba(250, 197, 104, .4)
$bg-third: #F7F8FD
$font-primary: #FFFFFF
$font-secondary: #000000
$font-third: #333333
$res-dekstop: 192rem
$res-mac: 144rem

// General
* 
    box-sizing: border-box
    margin: 0
    padding: 0

html 
    font-size: 62.5%

body 
    font-size: 1.6rem
    font-weight: 400
    font-family: 'Outfit', sans-serif
    overflow-x: hidden

a 
    color: inherit
    text-decoration: none

// Reusable Component
.container
    width: $res-dekstop

.page-title
    display: flex
    align-items: center
    gap: 1.8rem
    padding-left: 10.7rem
    font-size: 2.4rem
    font-weight: 500
    z-index: 1

.text-title
    font-size: 4.6rem
    font-weight: 600
    padding-left: 10.7rem
    line-height: 7rem

.text-description
    font-size: 3.2rem
    font-weight: 200
    padding-left: 10.7rem
    line-height: 5rem

// Image
.logo
    width: 20rem

.image-1
    width: 80rem
    position: absolute
    top: 0
    z-index: -1

.image-2
    width: 75%
    height: 75%

.image-3
    width: 20rem
    height: 20rem

.image-4
    width: 120rem
    position: absolute
    z-index: -1

.image-5
    width: 58.2rem
    margin-left: 8.4rem
    position: absolute

.bg-image-1
    width: 120rem
    top: 1rem
    position: absolute
    z-index: 0

.bg-image-2
    width: $res-dekstop
    top: 102rem
    position: absolute
    z-index: -1

.bg-image-3
    height: 85rem
    position: absolute
    margin-top: -10rem
    margin-left: 126.5rem
    z-index: 0

.bg-image-4
    width: 50rem
    margin-left: -8rem
    position: absolute
    z-index: -1

.bg-image-5
    width: 191rem
    margin-top: 27.9rem
    position: absolute
    z-index: 0

.icon-flag
    width: 4rem

.icon-left,
.icon-right,
.icon-down
    width: 3rem

.icon-left-big,
.icon-right-big
    width: 6rem

.icon-arrow-right
    width: 3rem

.icon-quotes-sign
    width: 6rem
    height: 5rem

.icon-company
    width: 12rem

.icon-socmed
    width: 5.8rem

.line-yellow
    width: 4.5rem

.line-short
    margin-left: 11rem
    width: 16rem    

.ellipse
    width: 3rem
    height: 3rem
    margin-top: 9.3rem
    margin-left: 5rem


// Hero & Navrbar Section
.app 
    width: 100%
    height: 100vh
    display: flex
    flex-direction: column
    align-items: center

.hero
    background: $bg-primary
    color: $font-primary
    font-size: 2.2rem
    font-weight: 300

.nav-container
    width: $res-dekstop
    display: flex
    justify-content: space-between
    align-items: center
    padding: 3.6rem 6.1rem

.nav-left 
    display: flex
    align-items: center
    gap: 8rem
    padding-right: 6.1rem
    font-size: 2.4rem
    z-index: 1

.nav-right
    width: 41.1%
    z-index: 1

.nav-right-button
    display: flex
    justify-content: flex-end
    padding-left: 6.1rem

    button 
        display: flex
        justify-content: center
        align-items: center
        gap: 1.4rem
        padding: 1.55rem 2.1rem
        border: none
        border-radius: 1rem
        background-color: $bg-primary
        color: inherit
        font: inherit
        cursor: pointer
        font-size: 2.4rem

.body-container  
    display: flex
    justify-content: space-between

.text-title-hero
    font-size: 5.4rem
    font-weight: 500
    padding-left: 10.7rem
    line-height: 8.5rem

.text-description-hero
    font-size: 3.2rem
    font-weight: 200
    padding-left: 10.7rem
    line-height: 5rem
    
.body-left
    width: 100%
    display: flex
    flex-direction: column
    gap: 5rem

.left-body
    gap: 1.8rem
    padding-top: 8.6rem

.body-left-main
    display: flex
    flex-direction: column
    gap: 3rem
    z-index: 1

.body-left-button
    width: 55rem
    height: 10rem
    display: flex
    justify-content: center
    align-items: center
    margin-left: 10.7rem
    margin-bottom: 19rem
    border: none
    border-radius: 100rem
    background-color: $bg-secondary
    cursor: pointer
    z-index: 1

    span 
        font-size: 3.4rem
        font-weight: 600
        color: $font-secondary

// Workflow Section
.workflow
    display: flex
    flex-direction: column
    gap: 2rem
    margin-top: 10rem

.workflow-pathway
    display: flex
    justify-content: center
    z-index: 1

.workflow-1
    display: flex
    justify-content: center
    width: 25%

.pathway-1
    width: 32rem
    display: flex
    flex-direction: column
    gap: 1.2rem
    color: $font-third

.pathway-circle
    width: 19rem
    height: 19rem
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 2rem
    border-radius: 50%
    box-shadow: 0 0 35px 0 $bg-secondary-light
    background: white

.blue 
    background: #F1FAFF
    box-shadow: 0 0 0 0 

.pathway-header
    font-size: 3.2rem
    font-weight: 600

.pathway-description
    font-size: 2.2rem
    font-weight: 300
    line-height: 3rem

// Services Section
.services
    display: flex
    flex-direction: column
    gap: 3rem
    margin-top: 10rem
    padding-top: 10rem
    background: $bg-third

.services-boxs
    display: flex
    gap: 6rem
    padding: 0 10.7rem
    margin-top: 3rem
    margin-bottom: 10rem
    z-index: 1

.services-box
    width: 54rem
    display: flex
    flex-direction: column
    gap: 2rem
    padding: 4rem 5rem
    border: 1px solid #DDDDDD
    border-radius: 10%
    background-color: white

.services-box-top
    display: flex
    justify-content: space-between

    span
        font-size: 3.6rem
        font-weight: 600
        color: $bg-secondary

.services-box-title
    font-size: 3rem
    font-weight: 500

.services-box-button
    width: 23rem
    display: flex
    justify-content: center
    align-items: center
    gap: 1rem
    padding: 1.5rem
    border: none
    border-radius: 4rem
    background-color: $bg-secondary
    cursor: pointer

    span
        font-size: 2rem
        font-weight: 500

// Projects Section
.projects
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    gap: 2.2rem
    margin-top: 10rem

.projects-boxs
    width: 128rem
    height: 37.9rem
    display: flex
    justify-content: center
    margin-bottom: 10rem

.projects-box
    width: 100%
    display: flex
    align-items: center
    gap: 6rem

.box-previous, 
.box-next
    display: flex
    justify-content: center
    align-items: center
    padding: 2.4rem
    background: $bg-secondary
    border: none
    border-radius: 50%
    cursor: pointer

.box-main
    width: 100%
    height: 100%
    display: flex
    justify-content: space-between
    align-items: center

.projects-main-left
    display: flex
    flex-direction: column
    gap: 1rem

.projects-box-subtitle
    font-size: 2.2rem
    font-weight: 500
    margin-bottom: 1rem

.projects-box-title
    font-size: 5rem
    font-weight: 600

.projects-box-description
    font-size: 3.1rem
    font-weight: 200

.projects-main-right
    display: flex
    align-items: center
    align-self: end
    padding-bottom: 6rem
    gap: 2rem

.projects-box-right
    display: flex
    justify-content: center
    align-items: center
    padding: 1.4rem
    border-radius: 50%
    background: $font-third

.projects-box-subdescription
    font-size: 3.1rem
    font-weight: 400  

// Testimonials Section
.testimonials
    display: flex
    justify-content: space-between
    padding-top: 6rem
    padding-right: 50rem
    padding-left: 8rem
    background: $bg-third

.testimonials-left
    display: flex
    flex-direction: column
    gap: 2rem
    margin-top: 4rem
    margin-bottom: 8rem

.testimonials-description-box
    width: 76rem
    display: flex
    gap: 3rem
    padding-top: 2rem
    padding-left: 14.7rem
    font-size: 3.3rem
    font-weight: 300

.testimonials-clients
    display: flex
    align-items: center
    gap: 3rem
    padding-left: 10.7rem
    padding-top: 5rem

.testimonials-client
    display: flex
    flex-direction: column
    gap: 1rem

.testimonials-client-title
    font-size: 3.3rem
    font-weight: 600

.testimonials-client-subtitle
    font-size: 3.3rem
    font-weight: 300

.testimonials-right
    display: flex

.testimonials-button
    height: 8rem
    display: flex
    justify-content: center
    align-items: center
    gap: 1rem
    margin-top: 7rem
    padding: 0 1.8rem
    border-radius: 8rem
    background: $bg-primary-light
    z-index: 1

.testimonials-button-left,
.testimonials-button-right
    cursor: pointer

// Contact Us Section
.contact 
    display: flex
    justify-content: space-between
    align-items: center
    gap: 4rem
    margin-top: 20rem
    padding-left: 8rem
    padding-right: 18.6rem
    padding-bottom: 22rem


.contact-left
    display: flex
    flex-direction: column
    gap: 2rem
    z-index: 1

.contact-special-text
    width: 65rem

.contact-special-description
    width: 75rem

.form-box
    width: 50rem
    display: flex
    flex-direction: column
    gap: 3.9rem
    padding: 4rem 4rem 3rem 4rem
    border-radius: 3rem
    background: #F8F8F8

.form-input
    display: flex
    flex-direction: column
    gap: 2rem

    label
        font-size: 2rem
        font-weight: 500

input
    background: white
    border: 1px solid #CCCCCC
    border-radius: 1.4rem
    padding: 1.4rem 1.8rem

input:focus
    outline: 1.5px solid $bg-secondary
    font-size: 1.5rem
    font-weight: 500

::placeholder
    font-size: 1.5rem
    font-weight: 500
    color: #CCCCCC

.form-button
    display: flex
    justify-content: center
    align-items: center
    gap: 1rem
    padding: 1.5rem
    border: none
    border-radius: 10rem
    background: $bg-secondary
    cursor: pointer

    span
        font-size: 2.2rem
        font-weight: 500

// Footer Section
.footer-container
    display: flex
    flex-direction: column
    gap: 8rem
    padding: 7rem 10rem
    background: $bg-primary
    color: $font-primary

.footer-info
    display: flex
    justify-content: space-between
    margin-right: 14rem
    z-index: 1

.footer-info-item
    display: flex
    flex-direction: column
    gap: 1.8rem
    z-index: 1

.footer-item-title
    margin-bottom: 1rem
    font-size: 2.1rem
    font-weight: 600
    z-index: 1

.footer-item-subtitle
    font-size: 2.1rem
    font-weight: 200
    z-index: 1

.footer-info-company
    display: flex
    justify-content: space-between
    z-index: 1

.footer-company-left
    display: flex
    flex-direction: column
    gap: 2rem
    text-decoration: underline
    text-decoration-thickness: 0.5px
    text-underline-offset: 3px
    z-index: 1

.footer-company-right
    display: flex
    align-items: center
    gap: 2rem
    z-index: 1

.footer-button
    display: flex
    justify-content: space-between
    align-items: center
    gap: 10rem
    padding: 2rem 3rem
    border-radius: 5rem
    background: $bg-primary-light
    cursor: pointer
    z-index: 1

    span
        font-size: 2rem
        font-weight: 300

.languange
    width: 5.5rem
    height: 5.6rem
    z-index: 1

.info 
    margin-top: 6rem
    margin-bottom: 2rem
    font-size: 2rem
    font-weight: 300
    z-index: 1

// Responsive Design
@media screen and (max-width: 1920px) 
    .container
        width: 100%
    
    .nav-container
        width: 100%

@media screen and (max-width: 1500px) 
    .testimonials-description-box
        width: 100%
    
    .contact-special-text
        width: 100%

    .contact-special-description
        width: 100%

@media screen and (max-width: 1440px) 
    .page-title
        font-size: 1.6rem
        font-weight: 500

    .text-title
        font-size: 3.4rem
        font-weight: 600
        line-height: 5rem

    .text-description
        font-size: 2.6rem
        font-weight: 300
        line-height: 3.7rem

    .line-yellow
        width: 3rem
        margin-right: -.4rem

    .nav-left
        gap: 4rem
        font-size: 1.8rem
        line-height: 2.2rem
    
    .nav-right-button
    button 
        display: flex
        justify-content: center
        align-items: center
        gap: 1.4rem
        padding: 1.55rem 2.1rem
        border: none
        border-radius: 1rem
        background-color: $bg-primary
        color: inherit
        font: inherit
        cursor: pointer

        span 
            font-size: 1.7rem

    .text-title-hero
        font-size: 3.8rem
        font-weight: 600
        line-height: 5.8rem

    .text-description-hero
        font-size: 2.2rem
        font-weight: 300
        line-height: 3.5rem
    
    .body-left-button
        width: 40rem
        height: 7.4rem
        display: flex
        justify-content: center
        align-items: center
        margin-left: 10.7rem
        margin-bottom: 19rem
        border: none
        border-radius: 100rem
        background-color: $bg-secondary
        cursor: pointer
        z-index: 1

        span 
            font-size: 2.6rem
            font-weight: 500
        
    .image-1
        width: 70rem

    .pathway-header
        font-size: 2.2rem
        font-weight: 600
        line-height: 3.3rem

    .pathway-description
        font-size: 1.7rem
        font-weight: 300
        line-height: 2.5rem

    .pathway-circle
        width: 15rem
        height: 15rem

    .bg-image-2
        width: 124rem

    .ellipse
        margin-top: 3.4rem
        margin-left: 3rem

    .services-box-title
        font-size: 2.6rem
        font-weight: 500
        line-height: 3.6rem

    .services-box-top
        span
            font-size: 3.1rem
            font-weight: 600
            line-height: 3.1rem

    .services-box-button
        span
            font-weight: 400

    .image-3
        width: 13.8rem
        height: 14rem

    .bg-image-3
        height: 70rem
        margin-top: -10rem
        margin-left: 88rem

    .testimonials-description
        font-weight: 300
        font-size: 2.6rem
        line-height: 3.7rem

    .icon-quotes-sign
        width: 4.4rem
        height: 4.4rem

    .icon-company
        width: 9.7rem

    .testimonials-client-title
        font-size: 2.7rem
        font-weight: 600

    .testimonials-client-subtitle
        font-size: 2.7rem
        font-weight: 300

    .icon-left-big,
    .icon-right-big
        width: 4.8rem

// .body-left-scroll
//     display: flex
//     flex-direction: column
//     font-size: 2.2rem
//     font-weight: 300
//     background: #000

//     span
//         transform: rotate(90deg)

//     img
//         width: 3rem